target/
data/
*.iml
.idea/
*.log
*.DS_Store
*.hprof
*.dump
*.tmp
*.bak
*.swp
*.zip
*.tar
*.gz
*.class
dictionary-loader.jar
dictionary-server.jar
rdfparquet-loader.jar
rdfparquet-server.jar
original-dictionary-loader.jar
original-dictionary-server.jar
